body {
    font-family: Arial, sans-serif;
    background-color: black;
    color: #ffffff;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 350px; /* Agora toda a área do conteúdo tem a mesma largura */
    margin: auto;
    padding: 20px;
}

.foto {
    width: 100%; /* A imagem agora se ajusta ao tamanho da div */
    max-width: 350px; /* Garantindo que fique do mesmo tamanho que os textos */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
}

h1 {
    color: #ff4081;
    font-size: 22px;
    margin-top: 15px;
}

h2 {
    color: #f48fb1;
    font-size: 18px;
}

hr {
    border: 1px solid #ff4081;
    margin: 20px 0;
    width: 80%;
}

p {
    font-size: 16px;
    color: #e0e0e0;
}